body {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
}

@media (max-width: 768px) {
    body {
        overflow-y: auto;
    }
}